#btn0{
    margin-right: 30px
}

#btn1{
    margin-right: 30px
}

#btn2{
    margin-right: 30px
}

#btn3{
    margin-right: 20px
}

#main{
    margin-left: 550px;
}

#image{
    margin-left: 17px;
    margin-top: 50px;
}

